##### Development #####

# DS Store
.DS_Store

# Pycache
__pycache__/

# Python virtual environment
.venv/

# Poetry lock file
poetry.lock

# Python environment
.python-version

# IPython
.ipynb_checkpoints/

# Local files
*.local

# ZIP files
*.zip

# Checkpoints
checkpoints/

# PEM files
*.pem

# CelebA dataset
processed_celeba_small/

####### Terraform #######

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash log files
crash.log

# Ignore Terraform variable files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform plan files
*.tfplan

# Ignore .terraform directory
.terraform/

# Ignore backup files
*.backup

# Ignore any other files that should not be committed
.terraform.lock.hcl
